<div class="container">

    <h1>MyTaskList</h1>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>

    <app-header></app-header>
    <hr>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
          <chat-component></chat-component>
            <alert></alert>

        </div>
    </div>
    <router-outlet></router-outlet>






</div>
<footer></footer>
