<div class="container">
    <div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
        <div class="col-xs-12 col-md-12">

        	<div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Chat with {{selectedUsername}}</h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                <!-- userlsist -->
                <div class="panel-body msg_container_base">
                  <div *ngFor="let user of users">
                    <div class="row msg_container base_sent">
                        <div class="col-md-10 col-xs-10">
                          <a (click)="selectUser(user)">
                            <div >
                                <p>{{user}}</p>
                            </div>
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
                <!-- enduserlist -->
                <div *ngIf="isUserSelected">
                <div class="panel-body msg_container_base" >
                  <div *ngFor="let message of messages">
                    <div class="row msg_container base_sent">
                        <div class="col-md-10 col-xs-10">
                          <div [attr.class]="message.send?'row msg_container base_sent':'row msg_container base_receive'">
                            <div class="col-md-10 col-xs-10">
                                <div [attr.class]="message.send?'messages msg_sent':'messages msg_receive'">
                                    <p>{{message.text}}</p>
                                    <time datetime="2009-11-13T20:00">{{message.time | date: 'dd/MM/yyyy HH:mm:ss'}}</time>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input [(ngModel)]="message" id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <button (click)="sendMessage()" class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                        </span>
                    </div>
                </div>
              </div>
    		</div>
        </div>
    </div>

    <div class="btn-group dropup">
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" id="new_chat"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span> Ver outras</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-remove"></span> Fechar Tudo</a></li>
            <li class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-eye-close"></span> Invisivel</a></li>
        </ul>
    </div>
</div>
